<nav-menu></nav-menu>
<!--Card image-->
<div class="view overlay hm-white-slight waves-light" mdbWavesEffect style="width:100%">
    <img src="../../../assets/images/resume-background.jpg" style="width: 100%;" class="img-fluid">        
</div>
<!--/Card image-->

<div class="container">
  <section class="section pb-3" style="margin-top: -100px;">
     
<!--Card-->
<div class="card card-cascade wider reverse my-4">
    <!--Card content-->
    <div class="card-body ">
        <!--Title-->        
        <div class="text-center" ><img  src="../../../assets/images/profile_photo.jpg" class="img-fluid z-depth-1 rounded-circle" alt="profile-image" height="150" width="150"/>
          <h4 class="card-title text-uppercase pt-2"><strong>Yogendra Singh</strong></h4>
          <hr>
        </div>
        



 <!-- Section: Features v.4 -->
 <section class="my-5">

<div class="my-5 bg-gray text-justify">
  <h4 class="p-4 mx-auto">
    
    Freelance web developer specializing in small to medium sized business websites and content
    management systems. I design and develop responsive websites using the most current technologies
    to provide the best user experience while satisfying customer needs. My previous employment and
    management experience provides me with leadership skills that allow me to effectively communicate
    with others to achieve our goals. In addition, it has provided me the knowledge of understanding 
    and communicating with customers to satisfy their needs. I am a fast learner who enjoys challenges
    and thrives in a fast paced, goal oriented environment. Currently have experience working with HTML5,
     CSS3, JavaScript, jQuery, Asp.Net MVC & Core and Angular 5. 


  </h4>

</div>

   <div class="my-5">
      <h3 class="font-weight-bold">Skills</h3> 

      <ul>
          <li>Web Development Using Asp.Net MVC,Core and Angular 5 </li>          
          <li>DataBase Development and Management Using SQL Server</li>
          <li>Modern web technologies.</li>
          <li>Object-oriented design and architecture.</li>
       
        
      </ul>
      <hr>
   </div>

   <div class="my-5">
      <h3 class="font-weight-bold">Languages and Frameworks</h3> 

      <ul>
        
         <li>Asp.net mvc- 2yr</li>
         <li>Asp.Net Core- 6 months</li> 
         <li>Asp.Net Web Apis- 1yr</li>
         <li>Angular 4&5- 6 months</li>
         <li>Html,Css, Bootstrap- 3yr</li>
         <li>MD Bootstrap -6 months</li>
         <li>MSSQL -2008,2014- 3yr</li>          
      </ul>
      <hr>
   </div>

   <div class="my-5">
      <h3 class="font-weight-bold">Education</h3> 

      <ul>
        <li>Computer science graduate from MCU Bhopal</li>                
      </ul>
   </div>


 

</section>                         
    </div>                            

</div>            
</section>
 



</div>


