<nav-menu></nav-menu>
<!--Card image-->
<div class="view overlay hm-white-slight waves-light" mdbWavesEffect style="width:100%">
    <img src="../../../assets/images/resume-background.jpg" style="width: 100%;" class="img-fluid">        
</div>
<!--/Card image-->

<div class="container">
  <section class="section pb-3" style="margin-top: -100px;">
     
<!--Card-->
<div class="card card-cascade wider reverse my-4">
    <!--Card content-->
    <div class="card-body ">
        <!--Title-->        
        <div class="text-center" ><img  src="../../../assets/images/profile_photo.jpg" class="img-fluid z-depth-1 rounded-circle" alt="profile-image" height="150" width="150"/>
          <h4 class="card-title text-uppercase pt-2"><strong>Yogendra Singh</strong></h4>
          <hr>
        </div>
        



 <!-- Section: Features v.4 -->
 <section class="my-5">

<div class="my-5 black text-justify text-white ">
  <p class="p-4 mx-auto">
    
    I am a passionate web developer and continuously learning and developing web application using morden 
    web technologies.
    I belive that web is and will be the primary way of communication in today's world.
    
    I started my web development career with <b>CBC</b> (Collaborative Business Pvt Ltd) right after
     finishing my greduation in 2015. Working with CBC for two years and learning all the 'abc' of web development
     i switched to <b>Lazoi Lifecare Private Limited</b> in 2017. 


       </p>

</div>

   <div class="my-5">
      <h3 class="font-weight-bold">Skills</h3> 

      <ul>
        <li>Web Development Using Asp.Net MVC,Core </li>
        <li>Angular 5 +</li>
        <li>DataBase Development and Management Using SQL Server</li>
        
      </ul>
      <hr>
   </div>

   <div class="my-5">
      <h3 class="font-weight-bold">Languages and Frameworks</h3> 

      <ul>
        <li>Web Development Using Asp.Net MVC,Core </li>
        <li>Angular 5 +</li>
        <li>DataBase Development and Management Using SQL Server</li>
        
      </ul>
      <hr>
   </div>

   <div class="my-5">
      <h3 class="font-weight-bold">Why Should You Hire Me ?</h3> 

      <ul>
        <li>Web Development Using Asp.Net MVC,Core </li>
        <li>Angular 5 +</li>
        <li>DataBase Development and Management Using SQL Server</li>
        
      </ul>
      <hr>
   </div>


   <div class="my-5">
      <h3 class="font-weight-bold">Education</h3> 

      <ul>
        <li>Web Development Using Asp.Net MVC,Core </li>
        <li>Angular 5 +</li>
        <li>DataBase Development and Management Using SQL Server</li>
        
      </ul>
   </div>


 

</section>                         
    </div>                            

</div>            
</section>
 



</div>


