

 <header>        
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark black" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" [routerLink]="['/']"><strong>Yogi Tech</strong></a>
        </logo>
        
        <links>
            <ul class="navbar-nav mr-2 ml-auto">
                <li class="nav-item  waves-light" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['/blogs']">Blogs</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Works</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Resume</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="https://github.com/yogendrasinghmehra" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/yogendra-singh-647385102/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
              
            </ul>
        </links>
    </mdb-navbar>
  
  </header>    
 


