<admin-dashboard></admin-dashboard> 
<div class="container-fulid" id="Main-Wrapper">
  
  <div class="container">

    <div class="row">
      <div class=" col-md-9">
          <h2 class="text-center">Tag List</h2>
          <div class="table table-responsive" style="max-height:20em;">
            <table class="table table-striped" >
              <thead>
                <tr>
                  <th>Tag Name</th>
                  <th>Created Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tag of tagList">
                <td>{{tag.name}}</td>
                <td>{{tag.createdDate}}</td>
                <th><input type="button" class="btn-sm btn  btn-outline-danger" value="Remove" (click)="removeTag(tag.id)"></th>
              </tr>
              </tbody>
            </table>
          </div>  
      </div>       
      <div class="col-md-3">

          <form class="form-signin" [formGroup]="tagForm" (ngSubmit)="onSubmit()" novalidate>    
   
              <div class="form-group">
                <label>Add New Tag</label>
                <input type="text"  class="form-control" placeholder="Enter Tag Name" formControlName="Name">
          
                <div  *ngIf="tagForm.controls.Name.invalid && tagForm.controls.Name.dirty">Tag is required</div>
              
            </div>
            <div class="form-group">
              <strong class="text-info">{{statusMessage}}</strong>
            </div>

            <button class="btn btn-outline-primary btn-sm" type="submit" [disabled]="!tagForm.valid">Add Tag</button>
           
          </form>
      </div>     
    </div><!-- /.row -->

  </div>

  
</div>