.bg-img {
    background: url("../../../assets/images/seamless-home-bg.png")repeat center center;   
    height: 60vh;
}
#home-bg{ background-color:#5b636a; }
#divAboutMeLink a{ color:black; text-decoration:none; }