<div class="row">
  <div class="col-md-4"></div>
<div class="col-md-4">

  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
   

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="email" id="defaultForm-email" class="form-control"    formControlName="id" mdbActive > 
      <label for="defaultForm-email">Your Id</label>     
      <div  *ngIf="loginForm.controls.id.invalid && loginForm.controls.id.dirty">Id required</div>
  </div>


  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" id="defaultForm-pass" class="form-control" formControlName="password" mdbActive>
    <label for="defaultForm-pass">Your password</label>
    <div  *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.dirty">password required</div>
    <div>{{statusMessage}}</div> 
</div>

  <div class="text-center">
    <button class="btn btn-indigo waves-light" mdbRippleRadius type="submit" [disabled]="!loginForm.valid">Login</button>
</div>
    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
  </form>
</div>
<div class="col-md-4"></div>
</div>
