<div class="row">
  <div class="col-md-4"></div>
<div class="col-md-4">

  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
   
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email"  class="form-control" placeholder="Id"   formControlName="id">

      <div  *ngIf="loginForm.controls.id.invalid && loginForm.controls.id.dirty">Id required</div>
      
    </div>
   <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"  class="form-control" placeholder="Password" formControlName="password">
    <div  *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.dirty">password required</div>
    <div>{{statusMessage}}</div> 
  </div>      
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
<div class="col-md-4"></div>
</div>