<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <logo>
          <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbRippleRadius>
                  <a class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link" [routerLink]="['/admin/tags']">Tags</a>
              </li>
             

              <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle  class="nav-link dropdown-toggle waves-light">
                  Blog
                </a>
                <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                    <a class="dropdown-item" [routerLink]="['/admin/blogs']">Blogs List</a>
                    <a class="dropdown-item" [routerLink]="['/admin/add-blog']">Add Blog</a>
                    
                </div>
            </li>
          </ul>
      </links>
  </mdb-navbar>
</header>
  
      



