/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

body{ background-color: #d9d9d9 !important}
.card{border-radius: 0%;}
#Main-Wrapper{ margin-top:5em;}

a{color:rgb(255, 255, 255);}
a:hover{color:rgb(191, 191, 191);}

.text-white h1, .text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white h6, .text-white .h1,.text-white .h2,.text-white .h3,.text-white .h4,.text-white .h5,.text-white .h6,.text-white p {
   
    color: rgb(255, 255, 255);
}
.btn-rounded{ border-radius: 10em;}
.btn-outline-primary{
    color: rgb(255, 255, 255) !important;
    background-color: transparent;    
    border-color: rgb(255, 255, 255);
    padding:0.375rem 0.75rem !important;
}
.btn-outline-primary:hover{
    color: #000 !important;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-color: rgb(255, 255, 255);
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle
{
    color: #fff;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.btn-outline-black{
    color:#000 !important;
    background-color: transparent;      
    padding:0.375rem 0.75rem !important;
    border: 1.5px solid #000;
}
.btn-outline-black:hover{
    color:rgb(255, 255, 255) !important;
    background-color: #000;    
    border-color: #000;
}

.btn-outline-black:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle
{
    color:#000;
    background-color: #000;
    border-color: #000;
}

.bg-white{ background-color:rgb(255, 255, 255); }
.text-black h1, .text-black h2,.text-black h3,
.text-black h4,.text-black h5,.text-black h6, .text-black
 .h1,.text-black .h2,.text-black .h3,.text-black .h4,
 .text-black .h5,.text-black .h6,.text-black p {
   
    color: #000;
}


.bg-black{background-color: #202124; color: #fff;}


.btn-outline-white{
    color:#fff !important;
    background-color: transparent;      
    padding:0.175rem 0.45rem !important;
    border: 1.5px solid #fff;
    display:inline-block;
}
.btn-outline-white:hover{
    color:#000 !important;
    background-color: #fff;    
    border-color: #000;
}





